.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.router {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-nav {
  display: flex;;
  background-color: #3E78B2;

}

.main-nav--list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  list-style: none;
}

.main-nav--list--item a{
  color: #E3E6F2;
  margin-right: 30px;
}



.DashboardContainer {
  text-align: center;
}

/* .VictoryChart {
  margin-left: 100px
} */


.studentList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.studentList li {
  padding: 10px;
}