.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.router {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainNav {
  display: flex;;
  background-color: #3E78B2;

}

.MainNav--list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  list-style: none;
}

.MainNav--list--item a{
  color: #E3E6F2;
  margin-right: 30px;
}



.DashboardContainer {
  text-align: center;
}


.studentList,
.ExerciseList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.studentList li {
  padding: 10px;
}

.ExerciseList li {
  padding: 10px;
  background-color: #3E78B2;
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.ExerciseList li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

/* About page */

.aboutText {
  width: 60%;
  margin: 0 auto;
}

/* Student page */

.Student {
  display: flex;
  flex-wrap: wrap;
}

.studentNameImg,
.studentContactInfo {
  width: 50%;
}

.studentContactInfo {
  margin-top: 90px;
  background-color: #E3E6F2;
  padding-top: 30px;
  border-radius: 10%;
  height: 200px;
  width: 350px;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
}

.VictoryContainer {
  margin-top: 25px;
}